In [1]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
import pandas as pd
import textstat
import spacy
import nltk
import re
import string
import pandas as pd
import numpy as np
from tqdm import tqdm
import sys  
import contractions
from nltk.stem import WordNetLemmatizer
from spellchecker import SpellChecker

In [3]:
df = pd.read_csv('./datasets/steam_reviews_dataset.csv', encoding='utf-8')
df

,app_id,app_name,review_text,review_score,review_votes
0,10,Counter-Strike,Ruined my life.,1,0
1,10,Counter-Strike,This will be more of a ''my experience with th...,1,1
2,10,Counter-Strike,This game saved my virginity.,1,0
3,10,Counter-Strike,• Do you like original games? • Do you like ga...,1,0
4,10,Counter-Strike,"Easy to learn, hard to master.",1,1
...,...,...,...,...,...
6417101,99910,Puzzle Pirates,I really ove this game but it needs somethings...,-1,0
6417102,99910,Puzzle Pirates,"Used to play Puzzel Pirates 'way back when', b...",-1,0
6417103,99910,Puzzle Pirates,"This game was aright, though a bit annoying. W...",-1,0
6417104,99910,Puzzle Pirates,"I had a nice review to recommend this game, bu...",-1,0
6417105,99910,Puzzle Pirates,"The puzzles in this game are fun, but you have...",-1,0

In [4]:
print(df['app_name'].describe())

count      6233872
unique        9363
top       PAYDAY 2
freq         88973
Name: app_name, dtype: object

In [5]:
df_games = pd.DataFrame(df['app_name'].value_counts(ascending=True))
df_games.rename(columns={"app_name": "count"}, errors="raise")
df_games

                                             app_name
Push The Crate                                      1
Memory Oblivion Box                                 1
Dungeoncraft                                        1
Typing Instructor for Kids Platinum 5               1
MOAI 4: Terra Incognita Collector’s Edition         1
...                                               ...
Dota 2                                          73541
Rust                                            77037
Terraria                                        84828
DayZ                                            88850
PAYDAY 2                                        88973

[9363 rows x 1 columns]

In [6]:
# pd.set_option('display.max_rows', None)
# print(df['app_name'].value_counts(ascending=True))